.nav-bar {
    background:#A28089;
    width: 20px;
    height: 59px;
    height: 100%;
    position : absolute; 
    top: 0;
    z-index:3;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
  display: flex;
  flex-direction: column;
 
}
.menu span{
  margin: 2px ;
  padding: 2px ;
  text-align: justify;

}
nav {
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 50px;
}


 nav a {
      font-size: 30px;
      color: #4d4d4e;
      display: block;
      line-height: 50px;
      height: 70px;
      position: relative;
      text-decoration: none;
 }
  nav a i{
    transition:all 0.3 ease-out
    }

  //   &:hover{
  //       color:rgb(22, 21, 21) ;
  //       svg {
  //           opacity: 0;
  //       }
  //       &:after {
  //           opacity: 1;
  //         }
  //   }
  //   &:after {
  //       content: '';
  //       font-size: 9px;
  //       letter-spacing: 2px;
  //       position: absolute;
  //       bottom: 0;
  //       display: block;
  //       width: 100%;
  //       text-align: center;
  //       opacity: 0;
  //       -webkit-transition: all 0.3s ease-out;
  //       transition: all 0.3s ease-out;
  //     }
  //     &:first-child {
  //       &:after {
  //         content: 'HOME';
  //       }
  //   }
   
  //   a.about-link {
  //       &:after {
  //         content: 'ABOUT';
  //       }
  //     }
  //    a.contact-link {
  //       &:after {
  //         content: 'CONTACT';
  //       }
  //     } 
  
  //     a.portfolio-link {
  //       &:after {
  //         content: 'PORTFOLIO';
  //       }
  //     }
  //   a.active {
  //       svg {
  //     color: #ffd700;
  //       }
  // border-right: 5px solid #ffd700,;
  //     }
    
