html{
  font-size: 62.5%;
}
body {
  margin: 0;
  /* font-family:300 11px/1.4'Helvetica Neue', */
    /* sans-serif; */
    color:rgba(0, 0, 0, 0.795);
    background-color: #fceed1;
    background:linear-gradient(to bottom, #FFFFFF, #00FF7F);
    background: linear-gradient(to bottom, #FFFFFF, #88D498, #00FF7F);


    ;
    /* overflow: hidden; */
    display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

